#business_block form{
	overflow: hidden;
	padding: 0;
	margin-bottom: 30px;
}
#business_block .form-area{
	background-color: #F6F6F6;
	padding:16px;
	width:615px;
	margin: 0 0 16px;
}
#business_block .form-row{
	overflow:hidden;
	margin: 0 0 8px;
}
#business_block .form-col:first-child{
	width:263px;
	margin: 0 25px 0 0;
	text-align:right;
}
#business_block .form-col{
	float:left;
}
#business_block .form-col label{
	line-height: 26px;
	display:block;
}
#business_block input[type="text"]{
	width:273px;
	height:22px;
	color:#000;
    background-color: white;
    border: 1px solid #93A9BC;
    line-height: 25px;
}
#business_block select{
    border: 1px solid #93A9BC;
    padding: 5px;
    width: 275px;
}
#business_block .form-row.spec input[type="text"]{
	width: 452px;
	margin-left: 14px;
}
#business_block input[type="checkbox"]{
	display: inline-block;
	vertical-align: top;
	width: 13px;
	height: 13px;
	margin: 3px 12px 0 0;
}
#business_block input[type="checkbox"] + label{
	display: inline-block;
	width: 94%;
	line-height: 1.3em;
	margin-bottom: 13px;
	vertical-align: top;
	margin-right: 3px;
}
@media screen and (min-width:0\0) {
	#business_block input[type="checkbox"] + label{
		width: 44.4%;
	}
}
#business_block input[type="checkbox"][disabled]{
	display: none;
}
#business_block input[type="checkbox"][disabled] + label{
	display: block;
	color: #0083ca;
}
#business_block .form-row.spec textarea{
	background: none repeat scroll 0 0 white;
	border: 1px solid #93A9BC;
	padding: 5px;
	width: 602px;
	height: 141px;
	font-family: "Tahoma";
	resize: none;
	overflow: auto;
}
#business_block input[type="submit"]{
	background: url(images/btn-send.png) no-repeat;
	width: 151px;
	height: 39px;
	padding: 0 0 4px;
	border: 0;
	margin: 7px 0 0 0;
	color: #fff;
	font: 700 14px/17px 'Open Sans', sans-serif;
	cursor: pointer;
	text-align: center;
}
#business_block .captcha{
	width: 153px!important;
}
#business_block .form-notice{
	text-align: right;
	margin: 20px 0 5px;
}
#business_block .form-privacy{
	padding-right: 20px;
	font-size: 10px;
	text-align: right;
}
#business_block .errortext {
color: red !important;
}