div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
#wrapper .inn_wrap .main_content .tabs_block .wrap_content .item .info_block .about-expo {
    min-height: auto !important;
}